* {
    font-family: monospace;
    color: white;
}

body {
    background-color: rgb(125, 1, 1);
    background-image: url(imagens/background/background.png);
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

p, h1, h2, h3 {
    color: white;
}

main {
    width: 1010px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(44, 44, 44, 0.842);
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 5px 5px 8px black;

}

main:hover {
    width: 1030px;
}

img.logo-fiap {
    animation: pulse 3s infinite;
    width: 300px;

}

@keyframes pulse {
    0%{
        width: 300px;
    }
    50%{
        width: 305px;
    }
}

div.cabessario {
    width: 1000px;
    height: 300px;
    margin: auto;
    display: flex;
    background-color: rgba(85, 85, 85, 0.621);
    border-radius: 10px;
    transition: 0.5s;
}

div.cabessario:hover {
    width: 100%;
}

div.dados {

    text-align: left;
}

h1.title {
    font-size: xx-large;
    margin-left: 10px;
}

.txt{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.5s;
    font-size: larger;
}

.txt:hover {
    font-size: large;
}

div.contacts {
    width: 126px;
    height: 30px;
    margin-left: 3px;
    border-radius: 10px;
}

.icons {
    margin-left: 5px;
    width: 30px;
    transition: 0.2s;
}

.icons:hover {
    width: 31px;
}

div.tools {
    margin: auto;
    display: flex;
}

div.titletech {
    width: 190px;
    margin-top: 15px;
    margin-left: 230px;

}

h1.tech {
    color: #c7135bdf;

}

div.technologies {

    width: 400px;
    margin-left: 10px;
    margin-top: 20px;
}

img.technologies {
    width: 50px;
    transition: 0.5s;
}
img.technologies:hover {
    width: 60px;
}

div.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

div.formacoes {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgba(85, 85, 85, 0.621);
    border-radius: 10px;
    width: 480px;
    transition: 0.5s;
}

div.formacoes:hover {
    width: 1000px;
}

img.institutos {
    width: 20px;
    margin-right: 5px;
}

div.inftec {
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgba(85, 85, 85, 0.621);
    border-radius: 10px;
    width: 480px;
    transition: 0.5s;
}

div.inftec:hover {
    width: 1000px;
}

div.curiosidades {
    text-align: center;
    width: 985px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgba(85, 85, 85, 0.621);
    border-radius: 10px;
}

img.curiosities {
    border-radius: 30px;
    width: 950px;
    transition: 0.5s;
}

img.curiosities:hover {
    width: 960px;
}

h1.fim {
    color: #c7135bdf;
    text-align: center;
}
